body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  /*background-image: url(gamebg.jpg);*/
}

/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Roboto Slab', serif;*/
h1{
  font-family: 'Roboto', sans-serif;
}

.instructions .container h1 {
  font-size: 84px;
  font-weight: 600;
  text-align:center;
  font-family: 'Roboto Slab', serif;
  margin:10px;
  margin-top: 20px;
}

.instructions {
  background-color: #434044;
  color: #DDDDDD;
  padding: 5px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #434044;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}

.chipsdemoBasicUsage .errors {
  font-size: 12px;
  color: #dd2c00;
  margin-top: 10px; }

.chipsdemoBasicUsage .custom-chips md-chip {
  position: relative; }
  .chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container {
    position: absolute;
    right: 4px;
    top: 4px;
    margin-right: 0;
    height: 24px; }
    .chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container button.vegetablechip {
      position: relative;
      height: 24px;
      width: 24px;
      line-height: 30px;
      text-align: center;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      border: none;
      box-shadow: none;
      padding: 0;
      margin: 0;
      transition: background 0.15s linear;
      display: block; }
      .chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container button.vegetablechip md-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(0.7);
        color: white;
        fill: white; }
      .chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container button.vegetablechip:hover, .chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container button.vegetablechip:focus {
        background: rgba(255, 0, 0, 0.8); }

.chipsdemoBasicUsage .custom-chips md-chips-wrap.md-removable md-chip md-chip-template {
  padding-right: 5px; }

.midContainer {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.inputHeader{
  background-color: #6EC3E5;
  font-size: 34px;
  text-align:center;
}

.pageContainer {
  margin-left:auto;
  margin-right:auto;
}

.card-media {
  background-color: #999999; }

.md-subhead{
    font-weight: normal;
    color:black;
    opacity:1;
    text-decoration: none;
}

.eventSubheading{
  font-size:18px;
}

.eventSubheading div{
  margin:10px;
}

.eventSubheading span{
  color:#E52B53;
}

.inset {
  padding-left: 25px;
  padding-top: 25px; }

  .noImage {
    height:250px;
    width:350px;
    margin:15px
  }

.eventImage{
   max-width:350px;
}

.textAlignCenter{
  text-align: center
}

.maxWidth{
  width:100%;
}

.statusSwitch{
  margin-left:40px;
}

.gameList{
  max-height:20px;
  color:gray;
  margin-left:auto;
  margin-right:auto;
  margin-top:-20px;
}

.home {
  padding:5px 10px 10px 10px;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
  background-color:white
}

.roboto {
  font-family:Roboto
}

.myEventsImgDiv{
  margin-right:10px;
  max-width:350px
}

.noMyEventImage {
  height:250px;
  width:350px;
}

.eventsInfo{
  font-size:16px;
  text-align:center
}

.accent{
  font-style:italic
}

.toRight{
  text-align:right;
}

.eventsType{
  font-size:24px;
  margin-top:-10px
}

.statusFull{
  margin-top:-20px;
  color:red;
  font-size:18px
}

.statusOpen{
  margin-top:-20px;
  color:green;
  font-size:18px
}

.skillLevel{
  color:gray;
  margin-top:20px
}

.games{
  max-height:20px;
  margin-top:30px;
  color:gray
}

.gameChips{
  width:100%;
  margin:10px;
}

.searchBox{
  background-color:white;
  margin-left:auto;
  margin-right:auto
}

.zip{
  display:inline-block;font-size:18px;margin:15px;
}

.zipInput{
  display:inline-block;
  margin-right:10px
}

.searchDropDown{
  display:inline-block;
  margin:15px;
  font-size:18px
}

.searchMap{
  height:600px;
  margin-bottom:30px;
  border:1px solid black;
}

.windowStatusOpen{
  margin-right:10px;
  color:green
}

.windowStatusFull{
  margin-right:10px;
  color:red
}

.profileHead{
  font-size:48px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

.profileCard{
  margin-top:20px
}

.profileNoImage{
  height:250px;
  width:350px;
  margin-right:10px
}

.viewEventFull{
font-size:24px;
margin-top:-10px;
color:red
}

.viewEventOpen{
font-size:24px;
margin-top:-10px;
color:green
}

.toRight{
  margin-right:20px
}

.toGray{
  color:gray
}

.skillCol{
  margin-left:80px
}

.floatRight{
  float:right;
}

.toRed{
  background-color:#E52B53;
}

.favGames{
  width:70%;
}

.regTop{
  margin-top:30px;
}

.cancelLink{
  text-decoration:none;
  color:white
}

.inlineBlock{
  display:inline-block
}

.markerWidth{
  max-width:10px
}

.searchImage{
  max-width:150px;
  margin-right:10px;
}
