<div class="instructions">
    <div class="container">
        <h1>RiotAPI and D3</h1>
    </div>
</div>

<div class="container">
  <p>
    RiotAPI app and D3 testing. You are home.
  </p>
  Enter Summoner Name: <input type="text" name="" placeholder="summoner name" ng-model="sumName">
  <button type="button" name="button" ng-click="uc.doAll('Auto Mcgee')">Go</button>
  <p>The sunburst is an interactive visual representation of summoner's last 100 ranked games - click to isolate a particular section, mouse-over for label.</p>
  <p>Rings starting from center: Lane, Champion Type, Champion, Match Won or Lost</p>
</div>
